{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <main>
        <p class="cadastro">CADASTRE UM NOVO USUÁRIO</p>
        <div class="form-leitor">
            {% csrf_token %}
            <form method="post">
                <label for="nome">NOME COMPLETO</label>
                <div class="div-input">
                    {% render_field form.nome_completo class="div-input" %}
                </div>
                <label for="cpf">CPF</label>
                <div class="div-input">
                    {% render_field form.cpf class="div-input" %}
                </div>
                <div class="form-emprego">
                    
                    <div class="profissao">
                        <label for="rg">RG</label> <br>
                        {% render_field form.rg class="div-input" %}
                    </div>

                    <div class="profissao">
                        <label for="data_nascimento">DATA DE NASCIMENTO</label> <br>
                        {% render_field form.data_nascimento class="div-input" %}
                    </div>

                    <div class="profissao">
                        <label for="telefone">TELEFONE</label> <br>
                        {% render_field form.telefone class="div-input" %}
                    </div>
                </div>

                <label for="email">E-MAIL</label>
                <div class="div-input">
                    {% render_field form.email class="div-input" %}
                </div>

                <!-- <label for="endereco">ENDEREÇO</label>
                <div class="div-input">
                    {% render_field form.endereco class="div-input" %} -->
                </div>
                <label for="senha">SENHA</label>
                <div class="div-input">
                    {% render_field form.password1 class="div-input" %}
                </div>
                <label for="senha2">CONFIRME A SENHA</label>
                <div class="div-input">
                    {% render_field form.password2 class="div-input" %}
                </div>

                <div class="button">
                    <button class="bt-cadastrar">CADASTRAR</button>
                </div>
            </form>
        </div>
        </main>
</body>
</html>