{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro funcionario</title>
    <link rel="stylesheet" href="{% static 'cadastro_leitor.css' %}">
    <link rel="stylesheet" href="{% static 'cadastro_funcionario.css' %}">
</head>
<body>
    <div class="container">
        <main>
        <p class="cadastro">CADASTRE UM FUNCIONÁRIO</p>
        <div class="form-leitor">
            <form method="post">
                {% csrf_token %}

                <label for="nome">NOME</label>
                <div class="input-nome">
                    {% render_field form.cpf class="nome-input" %}
                </div>

                <div class="form-emprego">
                    <div class="profissao">
                        <label for="cpf">CPF</label> <br>
                        {% render_field form.cpf class="input-emprego" %}
                    </div>
            
                    <div class="profissao">
                        <label for="rg">RG</label> <br>
                        {% render_field form.rg class="input-emprego" %}
                    </div>
                </div>

                <label for="nome">E-MAIL</label>
                <div class="input-nome">
                    {% render_field form.email class="nome-input" %}
                </div>

                <div class="form-emprego">
                    
                    <div class="profissao">
                        <label for="">CARGO</label> <br>
                        <select class="input-emprego" name="permissao">
                            <option value="bibliotecario">Bibliotecário</option>
                            <option value="coordenador">Coordenador</option>
                            <option value="auxiliar">Auxiliar</option>
                        </select>
                    </div>
            
                    <div class="profissao">
                        <label for="telefone">TELEFONE</label> <br>
                        {% render_field form.telefone class="input-emprego" %}
                    </div>
                </div>
                
                <label for="nome">IMAGEM</label>
                <div class="div-file">
                    <input class="input-file" type="file">
                </div>

                <div class="button">
                    <input type="submit"  class="bt-cadastrar" value="CADASTRAR">
                </div>
            </form>
        </div>
        </main>
    </div>
</body>
</html>