<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<body>

    <div class="container">
        <main>
            <div class="container-main">
                <div class="card-frase">
                    <div class="frase-bg">
                        <p class="fonte-bg">BiblioGest</p>
                        <p class="fonte-bg-1">O sistema ideal para <br>gerenciar sua <br> biblioteca</p>
                        <a  class="saiba-mais" href="{% url 'saiba_mais' %}">Saiba Mais</a>
                    </div>

                    <div class="img-login">
                        <img src="{% static '/img/img-principal.png' %}" alt="" class="ilustracao-login">
                    </div>
                </div>

                <div class="login">
                    <div class="logo-login">
                        <img class="logo-azul" src="{% static '/img/logo.png' %}" alt="">
                    </div>

                    <p class="nome-login">Login</p>
                    <div class="form-container">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-aut">
                                <label class="form-label" for="cpf">CPF</label>
                                <input class="form-input" type="text" id="cpf" name="usuario" />
                            </div>
                            <br>
                            <div class="form-aut">
                                <label class="form-label" for="senha">SENHA</label>
                                <input class="form-input" type="password" id="senha" name="senha" />
                            </div>
                            <div class="senha">
                                <p><a class="senha-p" href="">esqueci minha senha</a></p>
                            </div>

                            <div class="bt-login">
                                <input class="button-login" type="submit" value="ENTRAR">
                            </div>
                        </form>
                    </div>
                </div>
        </main>
</body>

</html>