.container-bt{
    display: flex;
    margin-bottom: 20px;
}

.titulo{
    width: 80%;
    height: 10%;
}

.bt-acao{
    margin-top: 5px;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 10px 5px;
}

.bt-acao:hover{
   color: white;
}
.ex{
    background-color: #DA0502;
}
.ex:hover{
    background-color: #e33e3b ;
}
.ed{
    background-color: #022978;
}
.ed:hover{
    background-color: #1946a2;
}
.linha{
    width: 20%;
}

.autor-container{
    width: 104%;
    height: 50px;
    display: flex;
}

.button-novo-container{
    display: flex;
    justify-content: end;
    width: 100%;
}

.button-novo{
    background-color: #022978;
    width: 20%;
    height: 55px;
    color: white;
    font-size: 20px;
    font-family: League Spartan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}

.novo-bt{
    margin-top: 17px;
}
.button-novo a {
    text-decoration: none;
    color: white;
}

.button-novo:hover{
    background-color: #1946a2;
    color: white;
}
