.container{
    background-color: #ECF2F7;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "main";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
}

.div-input{
    height: 43px;
}

.input-nome{
    height: 40px;
}

.nome-input{
    width: 100%;
    height: 100%;
    border:1px solid #8B97B2;
    border-radius: 8px;
    padding-left: 3px;
}

.input-emprego{
    padding-left: 3px;
}

@media screen and (max-width:684px){
    .form-leitor{
        margin-left: 35px;
    }

    form{
        width: 100%;
    }

    .profissao{
        width: 45%;
    }

    .input-emprego{
        width: 100%;
    }

    .button{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:596px){
    .form-leitor{
        width: 115%;
        margin-left: 0;
    }

    form{
        width: 100%;
    }

    .container{
        height: 110%;
    }
}

@media screen and (max-width:559px){
    .profissao{
        width: 93%;
    }

    .input-emprego{
        width: 100%;
    }
}

@media screen and (max-width:490px){
    .form-leitor{
        width: 105%;
    }

    form{
        width: 100%;
    }

    .container{
        height: 913px;
    }
}

@media screen and (max-width:376px){
    .form-leitor{
        width: 108%;
        margin-left: 0;
    }

    form{
        width: 100%;
    }
}