.input-emprego{
    height: 42px;
    margin-bottom: 10px;
}

.div-input{
    height: 42px;
}

.form-emprego{
    margin-bottom: 3px;
}

.svg{
    text-decoration: none;
    color: black;
}

label{
    height: 10px;
}

.profissao{
    height: 70px;
}