body{
    padding: 0;
    margin: 0;

  }

.form-leitor{
    margin-top: 20px;
}

.input-emprego{
    height: 35px;
}

.div-input{
    height: 35px;
}

.profissao{
    margin-top: 1px;
}

.form-emprego{
    margin-top: 0;
    margin-bottom: 10px;
  
    height: 60px;
}

.button{
    margin-top: 25px;
}

.svg{
    text-decoration: none;
    color: black;
}