@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

.fonte-icon{
    font-size: 40px;
}
.container{
    background-color: #ECF2F7;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "main";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.container-logo{
    width: 95%;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: space-between;
}

.saudacao{
    font-family: Arimo;
}

.header{
    display: flex;
}
.frase{
    margin-top: 29px;
    margin-left: 40px;
}

.img-logo{
    width: 280px;
}

.username{
    font-size: 20px;
    font-family: League Spartan;
}

.nome-cat{
    text-decoration: none;
    color: white;
}

.conta-p{
    margin-left: 8px;
    font-family: League Spartan;
    font-size: 15px;
}
.conta{
    flex: end;
    width: 20%;
    display: flex;
    gap: 15px;
    margin-top: 29px;
}

.livros-img{
    width: 35%;
}
.minha-conta{
    background-color: #4778EC;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    display: flex;
    height: 45px;
    width: 180px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

svg{
    color: white;
}
.sair{
    background-color: #022978;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon{
    margin-right: 3px;
}
.nome-biblioteca{
    background-color: #4778EC;
    margin-left: 30px;
    margin-top: 45px;
    width: 95%;
    height: 118px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.biblio-nome{
    color: white;
    font-size: 30px;
    font-family: League Spartan ;
}

.biblioteca{
    margin-left: 100px;
}

.logo-livro{
    width: 10%;
    height: 120px;
    text-align: center;
    margin-top: 26px;
}

.livros-img{
    width: 67%;
}
.cards{
    height: 280px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    gap: 70px;
}

.card-categorias{
    background-color: #022978;
    width: 20%;
    height: 63%;
    border-radius: 8px;
    color: white;
    font-family: League Spartan;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.card-categorias:hover{
    background-color: #1946a2;
    color: white;
}
.svg-icon{
   text-align: center;
}

.div-categoria{
    margin-top: 10px;
}

.categoria{
    font-size: 23px;
}

@media screen and (max-width:1997px) {
    .biblio-nome{
        font-size: 28px;
    }
}

@media screen and (max-width:1167px) {
   .cards{
        margin-right: 10px;
   }

   .biblio-nome{
        font-size: 26px;
    }

    .conta{
        width: 22%;
    }
}

@media screen and (max-width:1048px) {
    .cards{
         margin-right: 17px;
    }
 
    .biblio-nome{
         font-size: 24px;
    }

    .categoria{
        font-size: 17px;
    }

    .logo-livro{
        margin-top: 20px;
    }
    .livros-img{
        width: 90%;
    }
 }

 @media screen and (max-width: 1026px){
    .minha-conta{
        width: 80%;
    }
 }

 @media screen and (max-width: 947px){
    .cards{
        gap: 30px;
    }

    .card-categorias{
        width: 100%;
    }

    .biblio-nome{
        font-size: 22px;
   }

   .conta{
        width: 25%;
    }

    .logo-livro{
        margin-top: 25px;
    }

 }

@media screen and (max-width: 897px){
    .logo-livro{
        margin-top: 35px;
    }

    .biblio-nome{
        font-size: 19px;
    }
}

@media screen and (max-width: 794px){
    .logo-livro{
        margin-top: 60px;
    }

    .biblio-nome{
        font-size: 17px;
    }

    .livros-img{
        width: 70%;
    }

    .nome-biblioteca{
        height: 80px;
    }

    .img-logo{
      height: 100px;
      width: 200px;
    }
}
