{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'acervo.css' %}">
    <title>Acervo</title>
</head>
<body>
    <body id="body-pd">
        <header class="header" id="header">
          <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
          <div class="menu-item">
            <nav class="dp-menu">
                <ul>
                    <li class="lista"><a href="#">AUTOR</a>
                        <ul>
                            <li><a href="{% url 'autor' %}">LISTAR</a></li>
                            <li><a href="{% url 'cadastro_autor' %}">CADASTRAR</a></li>
                        </ul>
                    </li>
                    <li class="lista"><a href="#">EDITORA</a>
                        <ul>
                            <li><a href="{% url 'editora' %}">LISTAR</a></li>
                            <li><a href="{% url 'cadastro_editora' %}">CADASTRAR</a></li>
                        </ul>
                    </li>
                    <li class="lista"><a href="#">SEÇÃO</a>
                        <ul>
                            <li><a href="{% url 'secao' %}">LISTAR</a></li>
                            <li><a href="{% url 'cadastro_secao' %}">CADASTRAR</a></li>
                        </ul>
                    </li>
                    <li class="lista"><a href="#">CLASSIFICAÇÃO</a>
                        <ul>
                            <li><a href="{% url 'classificacao' %}">LISTAR</a></li>
                            <li><a href="{% url 'cadastro_classificacao' %}">CADASTRAR</a></li>
                        </ul>
                    </li>

                    <li class="lista"><a href="#">TIPO DE PERIÓDICO</a>
                        <ul>
                            <li><a href="{% url 'tipo_periodico' %}">LISTAR</a></li>
                            <li><a href="{% url 'cadastro_tipo_periodico' %}">CADASTRAR</a></li>
                        </ul>
                    </li>

                    <li class="lista"><a href="#">PRODUTORA</a>
                        <ul>
                            <li><a href="{% url 'produtora' %}">LISTAR</a></li>
                            <li><a href="{% url 'cadastro_produtora' %}">CADASTRAR</a></li>
                        </ul>
                    </li>
                </ul>
        </header>
        <div class="l-navbar fonte" id="nav-bar">
         {% include 'menu.html' %}
        </div>

        <!--Container Main start-->
        <div class="container-main">
            <main>
                <div class="cards-container">
                    <h1 class="fonte text-dark ">Acervo</h1>  

                        <div class="cards-principal">
                            <a href="{% url 'livro' %}" class="acervo">
                                <div class="icons-svg">
                                    <div class="in-svg">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
                                                <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <p>LIVROS</p>
                                    </div>
                                </div>
                            </a>

                            <a href="{% url 'hemeroteca' %}" class="acervo">
                                <div class="icons-svg">
                                    <div class="in-svg">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-scissors" viewBox="0 0 16 16">
                                                <path d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0m7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <p>HEMEROTECA</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cards-principal-1">
                            <a href="{% url 'periodico' %}" class="acervo">
                                <div class="icons-svg">
                                    <div class="in-svg">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                                                <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                                                <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <p>PERIÓDICOS</p>
                                    </div>
                                </div>
                            </a>

                            <a href="{% url 'multimidia' %}" class="acervo">
                                <div class="icons-svg">
                                    <div class="in-svg">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-disc-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-6 0a2 2 0 1 0-4 0 2 2 0 0 0 4 0M4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0m9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <p>MULTIMÍDIA</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                 </div>
            </main>
        </div>
    <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
  <script src="{% static 'js/script.js' %}"> </script>
  <script src="{% static 'js/scriptLink.js' %}"></script>
</body>
</html>