<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de autores</title>
    <link rel="stylesheet" type="text/css" href="{% static 'leitores_ativos.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'funcionarios_ativos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'autor.css' %}" />
</head>
<body>
    <div class="container"> 

        <div class="container-main">
            <main>
                <div class="campo-busca">
                    <form class="search-container">
                        <input type="text" id="search-bar" placeholder="Buscar">
                        <a href="#"><img class="search-icon" src="/img/lupa.png"></a>
                    </form>
                </div>
                <div class="button-novo-container">
                    <div class="button-novo">
                        <div>
                            <p><a href="{% url 'cadastro_autor' %}">NOVO</a></p>
                        </div>
                    </div>
                </div>
                {% for autor in listar_autor %}
                <div class="container-tabela"> 
                    <div class="autor-container">
                        <div>
                            <p class="autor">Autores</p>
                        </div>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th class="titulo">AUTOR</th>
                                <th class="titulo">AÇÃO</th>
                            </tr>
                            <tr>
                                <td class="linhas">{{ autor.nome }}</td>
                                <td class="linha">
                                    <a href="{% url 'editar_autor' autor.id %}" class="bt-editar">EDITAR</a>
                                    <a href="{% url 'remover_autor' autor.id %}" class="bt-editar-ex">Deletar</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% empty %}
                <p>Nenhum autor cadastrado!</p>
                {% endfor %}
            </main>
        </div>
    </div>
</body>
</html>