{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periódicos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cadastro_leitor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'cadastro_periodico.css' %}">
</head>
<body>
    <div class="container">
        <main>
        <p class="cadastro">CADASTRE UM NOVO PERIÓDICO</p>
        <div class="form-leitor">
            <form method="post">
                {% csrf_token %}
                <label for="nome">AUTOR
                    <a class="svg" href="{% url 'cadastro_autor' %}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg></a>
                </label> 

                    {% render_field form.autor class="input-emprego" %}
               
                <label for="nome">TIPO DE PERIÓDICO
                    <a class="svg" href="{% url 'cadastro_tipo_periodico' %}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg></a>
                </label>
                {% render_field form.tipoPeriodico class="input-emprego" %}

                <label for="nome">TÍTULO</label>
                {% render_field form.titulo class="input-emprego" %}

                <div class="form-emprego">    
                    <div class="profissao">
                        <label>NÚMERO DE REGISTRO
                        </label> <br>
                        {% render_field form.registro class="div-input" %}
                    </div>
                    <div class="profissao">
                        <label for="">EDITORA
                            <a class="svg" href="{% url 'cadastro_editora' %}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg></a>
                        </label> <br>
                        {% render_field form.editora class="div-input" %}
                    </div>
                </div>

                <div class="form-emprego">
            
                    <div class="profissao">
                        <label for="">SESSÃO
                            <a class="svg" href="{% url 'cadastro_secao' %}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg></a>
                        </label> <br>
                        {% render_field form.secao class="div-input in" %}
                    </div>

                    <div class="profissao">
                        <label for="">NÚMERO</label> <br>
                        {% render_field form.numero class="div-input" %}
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="CADASTRAR" class="bt-cadastrar">
                </div>
            </form>
        </div>
        </main>
    </div>
</body>
</html>