{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cadastro_leitor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registro_livro.css' %}">
</head>
<body>
    <div class="container">
        <main>
        <p class="cadastro">CADASTRE UM NOVO AUTOR</p>
        <div class="form-leitor">
            <form method="post">
                {% csrf_token %}
                <label for="nome">AUTOR</label>
                <div class="div-input">
                    {{form.nome}}
                </div>

                <div class="button">
                    <input type="submit" class="bt-cadastrar" value="CADASTRAR">
                </div>
            </form>
        </div>
        </main>
    </div>
</body>
</html>