<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargos</title>
</head>
<body>
    <h1>Lista de Cargos</h1>
    <p><a href="{% url 'cadastro_cargo' %}">Adicionar novo Cargo</a></p>

    {% for cargo in listar_cargos %}
    <p>
        Nome: {{ cargo.nome }} 
        <a href="{% url 'editar_cargo' cargo.id %}">Editar</a>
        <a href="{% url 'remover_cargo' cargo.id %}">Deletar</a>
    </p>
    {% empty %}
    <p>Nenhum cargo cadastrado!</p>
    {% endfor %}
</body>
</html>-->

<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de cargos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'leitores_ativos.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'funcionarios_ativos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'autor.css' %}" />
</head>
<body>
    <div class="container"> 
        <div class="container-main">
            <main>
                <div class="campo-busca">
                    <form class="search-container">
                        <input type="text" id="search-bar" placeholder="Buscar">
                        <a href="#"><img class="search-icon" src="/img/lupa.png"></a>
                    </form>
                </div>

                {% for cargo in listar_cargos %}
                <div class="container-tabela"> 
                    <div class="autor-container">
                        <div>
                            <p class="autor">Cargos</p>
                        </div>

                        <div class="button-novo-container">
                            <div class="button-novo">
                                <div>
                                    <p><a href="{% url 'cadastro_cargo' %}">NOVO</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th class="titulo">AUTOR</th>
                                <th class="titulo">AÇÃO</th>
                            </tr>
                            <tr>
                                <td class="linhas">{{ cargo.nome }}</td>
                                <td class="linha">
                                    <a href="{% url 'editar_cargo' cargo.id %}" class="bt-editar">EDITAR</a>
                                    <a href="{% url 'remover_cargo' cargo.id %}" class="bt-editar-ex">Deletar</a>
                                </td>
                            </tr>
                            {% empty %}
                        </table>
                    </div>
                </div>
                <p>Nenhum cargo cadastrado!</p>
                {% endfor %}
            </main>
        </div>
    </div>
</body>
</html>