{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'periodico.css' %}">
    <link rel="stylesheet" href="{% static 'leitor.css' %}">
    <title>leitor</title>
</head>
<body>

    <body id="body-pd">
        <header class="header" id="header">
          <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

          <div class="container-busca">
            <form action="{% url 'leitor' %}" method="post">
              {% csrf_token %}
              <div>
                <input class="input-buscar" type="text" name="rg" value="{{rg}}">
                <input class="bt-buscar" type="submit" value="Buscar">
              </div>
            </form>
          </div>
        </header>
        <div class="l-navbar fonte" id="nav-bar">
          {% include 'menu.html' %}
        </div>
        <!--Container Main start-->
        <div class="height-100">
          <div class="container-bt">
            <div class="titulo">
               <h1 class="fonte text-dark ">Leitores</h1> 
            </div>

            <div class="bt-novo">
              <p><a class="button-novo" href="{% url 'cadastro_leitor' %}">Novo Leitor</a></p>
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class=" bg-primary fonte">Nome</th>
                <th scope="col" class=" bg-primary fonte">RG</th>
                <th scope="col" class=" bg-primary fonte">Profissão</th>
                <th scope="col" class=" bg-primary fonte">Instituição</th>
                <th scope="col" class=" bg-primary fonte">Telefone</th>
                <th scope="col" class=" bg-primary fonte">Email</th>
                <th scope="col" class=" bg-primary fonte">Endereço</th>
                <th scope="col" class=" bg-primary fonte">Foto</th>
                <th scope="col" class=" bg-primary fonte">Cadastrado por:</th>
                <th scope="col" class=" bg-primary fonte">Ação</th>
              </tr>
            </thead>
            <tbody>
                {% for leitor in listar_leitor %}
              <tr>
                <th scope="row">{{ leitor.nome }}</th>
                <td>{{ leitor.rg }}</td>
                <td>{{ leitor.profissao }}</td>
                <td>{{ leitor.instituicao }}</td>
                <td>{{ leitor.telefone }}</td>
                <td>{{ leitor.email }}</td>
                <td>{{ leitor.endereco }}</td>
                <td>{{ leitor.foto }}</td>
                <td>{{ leitor.criado_por }}</td>
                <td>
                  <div></div>
                    <a href="{% url 'editar_leitor' leitor.rg %}" class="bt-acao ed fonte">Editar</a>
                    <a href="#" onclick="remover_leitor({{leitor.rg}})" class="bt-acao ex fonte">Deletar</a>
                </td>
              </tr>
              {% empty %}
              <p>Nenhum leitor cadastrado!</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
    <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
  <script src="{% static 'js/script.js' %}"> </script>
  <script src="{% static 'js/scriptLink.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function remover_leitor(rg){
        Swal.fire({
          "title":"Tem certeza que deseja remover?",
          "icon":"question",
          "showCancelButton":true,
          "cancelButtonText":"Cancelar",
          "confirmButtonText":"Deletar",
          "reverseButtons":true,
          "confirmButtonColor":"red"
        })
        .then(function(result){
          if(result.isConfirmed){
            var url = 'remover';
            window.location.href = url+"/"+rg
          }
        })
      }

    </script>
</body>
</html>