<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livro</title>
</head>
<body>
    <h1>Lista - Livros</h1>
    <p><a href="{% url 'cadastro_livro' %}">Adicionar um novo Livro</a></p>

    {% for livro in listar_livro %}
    <p>
        Nome: {{ livro.titulo }} 
       
        <a href="{% url 'editar_livro' livro.registro %}">Editar</a>
        <a href="{% url 'remover_livro' livro.registro %}">Deletar</a>
        
    </p>
    {% empty %}
    <p>Nenhum livro cadastrado!</p>
    {% endfor %}
</body>
</html>