<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimídias</title>
</head>
<body>
    <h1>Lista de Multimídias</h1>
    <p><a href="{% url 'cadastro_multimidia' %}">Adicionar uma multimídia</a></p>

    {% for multimidia in listar_multimidia %}
        <p>
            {{multimidia.registro}} |
            {{multimidia.titulo}} |
            <a href="{% url 'editar_multimidia' multimidia.registro %}">Editar</a> |
            <a href="{% url 'remover_multimidia' multimidia.registro %}">Deletar</a>
        </p>
    {% endfor %}
</body>
</html>