{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais</title>
    <link rel="stylesheet" href="{% static 'saiba_mais.css' %}">
</head>
<body>
    <div class="container">
        <main>
            <div class="img-bg">
                <div>
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                </div>
            </div>

            <div class="texto">
                <p class="p-texto">
                    O sistema BiblioGest tem o potencial de otimizar o 
                    registro de novos volumes, facilitar a busca por livros, <br>
                    gerenciar empréstimos com mais agilidade e precisão, além 
                    de tornar as renovações mais convenientes. Ademais, o sistema 
                    garantirá a segurança das informações,<br> protegendo os dados dos 
                    usuários e do acervo, permitindo o acesso somente a pessoas autorizadas. <br>
                    Com sua capacidade de escalabilidade, a biblioteca estará pronta para 
                    crescer e se adaptar às necessidades da comunidade.  
                </p>
            </div>

            <div class="container-servicos">
                <div class="servicos">
                    <div>
                        <p>Controle de acervo</p>
                    </div>
                </div>

                <div class="servicos">
                    <p>Controle de acervo</p>
                </div>

                <div class="servicos">
                    <p>Controle de acervo</p>
                </div>

                <div class="servicos-1">
                    <p>Controle de acervo</p>
                </div>
            </div>

            <div class="container-colaboradores">
                <div>
                    <p class="titulo">COLABORADORES</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>