{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'autor.css' %}">
    <link rel="stylesheet" href="{% static 'usuario.css' %}">
    <title>Funcionários</title>
</head>
<body>
    <body id="body-pd">
        <header class="header" id="header">
          <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        </header>
        <div class="l-navbar fonte" id="nav-bar">
          <nav class="nav">
            <div> 
                  <h3 class="nav_logo-name text-center mb-5">BiblioGest</h3>
                
                <div class="nav_list"> 
                  <a href="#" class="nav_link active"> 
                    <i class='bx bxs-home nav_icon'></i> 
                      <spanclass="nav_name">INÍCIO</spanclass=> </a> 
                  </a> 
                  <a href="#" class="nav_link"> 
                    <i class='bx bxs-group nav_icon'></i> 
                    <span class="nav_name">FUNCIONÁRIOS</span> 
                  </a> 
                  <a href="#" class="nav_link"> 
                    <i class='bx bxs-book-reader nav_icon'></i>
                    <span class="nav_name">LEITORES</span>
                  </a> 
                  <a href="#" class="nav_link"> 
                    <i class='bx bxs-book nav_icon'></i>
                    <span class="nav_name">ACERVO</span>
                  </a>      
                  <a href="#" class="nav_link"> 
                    <i class='bx bx-repost nav_icon'></i>
                    <span class="nav_name">EMPRÉSTIMOS</span> 
                  </a> 
                  <a href="#" class="nav_link"> 
                    <i class='bx bx-user nav_icon'></i>
                <span class="nav_name">MINHA CONTA</span> 
                 </div>
                 <a href="{% url 'logout' %}" class="nav_link"> 
                  <i class='bx bx-log-out nav_icon'></i> 
                  <span class="nav_name">Sair</span> 
                </a>
            </div> 
          </nav>
        </div>
    
        <!--Container Main start-->
        <div class="height-100">
          <div class="container-bt">
            <div class="titulo">
               <h1 class="fonte text-dark ">Funcionários</h1> 
            </div>

            <div class="button-novo">
              <div class="novo-bt">
                <p><a href="{% url 'cadastro_usuario' %}">Novo Funcionário</a></p>
              </div>
            </div>
          </div>
             {% for usuario in listar_usuario %}
            <div class="container-funcio">
                <div class="card-funcionarios">
                    <div  class="funcio">
                        <div class="img-funcio">
                            <img  class="img-princ" src="https://thispersondoesnotexist.com/" alt="">
                        </div>
    
                        <div class="informacoes">
                            <p class="name-tt">Anderson Soares</p>
                            <p class="name-tt cargo"> Bibliotecário</p>
                            <p class="infos">
                                RG: 000000 <br>
                                CPF: 000.000.000-00 <br>
                                Contato: (00)00000-000
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="card-funcionarios">
                    <div  class="funcio">
                        <div class="img-funcio">
                            <img  class="img-princ" src="https://thispersondoesnotexist.com/" alt="">
                        </div>
    
                        <div class="informacoes">
                            <p class="name-tt">Anderson Soares</p>
                            <p class="name-tt cargo"> Bibliotecário</p>
                            <p class="infos">
                                RG: 000000 <br>
                                CPF: 000.000.000-00 <br>
                                Contato: (00)00000-000
                            </p>
                        </div>
                    </div>
                </div>
            </div>

                <th scope="row">{{ usuario.username }}</th>
                <td>
                    <a href="{% url 'editar_usuario' usuario.id %}" class="bt-acao ed fonte">Editar</a>
                    <a href="#" onclick="remover_usuario({{usuario.id}})" class="bt-acao ex fonte">Deletar</a>
                </td>
              </tr>
              {% empty %}
              <p>Nenhum funcionário cadastrado!</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
    <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
  <script src="{% static 'js/script.js' %}"> </script>
  <script src="{% static 'js/scriptLink.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function remover_usuario(id){
      Swal.fire({
        "title":"Tem certeza que deseja remover?",
        "icon":"question",
        "showCancelButton":true,
        "cancelButtonText":"Cancelar",
        "confirmButtonText":"Deletar",
        "reverseButtons":true,
        "confirmButtonColor":"red"
      })
      .then(function(result){
        if(result.isConfirmed){
          var url = 'remover';
          window.location.href = url+"/"+id
        }
      })
    }

  </script>
</body>
</html>